APP_NAME=ELISY254_DOLLARS_ZONE
APP_ENV=production

BOT_OPEN_KEY=CHANGE_THIS_KEY

DATABASE_URL=YOUR_DATABASE_URL

CHATGPT_API_KEY=
GEMINI_API_KEY=
CLAUDE_API_KEY=
DEEPSEEK_API_KEY=

MT5_ENGINE_API_URL=
MT5_ENGINE_API_SECRET=

DEFAULT_LOT=0.01
MAX_OPEN_TRADES=10

AI_DIRECTION_MODE=true
AUTO_CLOSE_PROFIT=true
CAPITAL_PROTECTION=true
